<div class="movie-grid">
    <mat-card 
      class="movie-card" 
      *ngFor="let movie of movies" 
      (click)="goToMovieDetails(movie.id)"
    >
      <img mat-card-image [src]="movie.posterUrl" alt="Movie poster" />
      <mat-card-content>
        <h3>{{ movie.name }}</h3>
        <p>Watched Year: {{ movie.year }}</p>
        <p>Rating: {{ movie.rating }} / 10</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary" (click)="toggleFavorite(movie, $event)">
          <mat-icon>{{ movie.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  